body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Icon2
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
   vertical-align: top;
}
#wb_Icon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#Icon2
{
   height: 26px;
   width: 26px;
}
#Icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 26px;
   vertical-align: middle;
   width: 25px;
}
#wb_Icon2:hover #Icon2 i
{
   color: #00CED1;
}
#wb_Icon2
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon2:hover
{
   transform: rotate(360deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon4
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
   vertical-align: top;
}
#wb_Icon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#Icon4
{
   height: 26px;
   width: 26px;
}
#Icon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 26px;
   vertical-align: middle;
   width: 25px;
}
#wb_Icon4:hover #Icon4 i
{
   color: #3CB371;
}
#wb_Icon4
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon4:hover
{
   transform: rotate(360deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon3
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
   vertical-align: top;
}
#wb_Icon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#Icon3
{
   height: 26px;
   width: 26px;
}
#Icon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 26px;
   vertical-align: middle;
   width: 25px;
}
#wb_Icon3:hover #Icon3 i
{
   color: #F0E68C;
}
#wb_Icon3
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon3:hover
{
   transform: rotate(360deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon1
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
   vertical-align: top;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#Icon1
{
   height: 26px;
   width: 26px;
}
#Icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 26px;
   vertical-align: middle;
   width: 25px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #1E90FF;
}
#wb_Icon1
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon1:hover
{
   transform: rotate(360deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon5
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
   vertical-align: top;
}
#wb_Icon5 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon5:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#Icon5
{
   height: 26px;
   width: 26px;
}
#Icon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 26px;
   vertical-align: middle;
   width: 25px;
}
#wb_Icon5:hover #Icon5 i
{
   color: #FF4500;
}
#wb_Icon5
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon5:hover
{
   transform: rotate(360deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_Icon1
{
   position: absolute;
   left: 50px;
   top: 0px;
   width: 26px;
   height: 26px;
   text-align: center;
   z-index: 3;
}
#wb_Icon4
{
   position: absolute;
   left: 150px;
   top: 0px;
   width: 26px;
   height: 26px;
   text-align: center;
   z-index: 1;
}
#wb_Icon5
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 26px;
   height: 26px;
   text-align: center;
   z-index: 4;
}
#wb_Icon2
{
   position: absolute;
   left: 200px;
   top: 0px;
   width: 26px;
   height: 26px;
   text-align: center;
   z-index: 0;
}
#wb_Icon3
{
   position: absolute;
   left: 100px;
   top: 0px;
   width: 26px;
   height: 26px;
   text-align: center;
   z-index: 2;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Icon2
{
   left: 200px;
   top: 0px;
   width: 26px;
   height: 26px;
   visibility: visible;
   display: inline;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
}
#Icon2
{
   width: 26px;
   height: 26px;
}
#Icon2 i
{
   line-height: 26px;
   font-size: 26px;
   width: 25px;
}
#wb_Icon4
{
   left: 150px;
   top: 0px;
   width: 26px;
   height: 26px;
   visibility: visible;
   display: inline;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
}
#Icon4
{
   width: 26px;
   height: 26px;
}
#Icon4 i
{
   line-height: 26px;
   font-size: 26px;
   width: 25px;
}
#wb_Icon3
{
   left: 100px;
   top: 0px;
   width: 26px;
   height: 26px;
   visibility: visible;
   display: inline;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
}
#Icon3
{
   width: 26px;
   height: 26px;
}
#Icon3 i
{
   line-height: 26px;
   font-size: 26px;
   width: 25px;
}
#wb_Icon1
{
   left: 50px;
   top: 0px;
   width: 26px;
   height: 26px;
   visibility: visible;
   display: inline;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
}
#Icon1
{
   width: 26px;
   height: 26px;
}
#Icon1 i
{
   line-height: 26px;
   font-size: 26px;
   width: 25px;
}
#wb_Icon5
{
   left: 0px;
   top: 0px;
   width: 26px;
   height: 26px;
   visibility: visible;
   display: inline;
   margin: 10px 5px 10px 5px;
   padding: 5px 5px 5px 5px;
}
#Icon5
{
   width: 26px;
   height: 26px;
}
#Icon5 i
{
   line-height: 26px;
   font-size: 26px;
   width: 25px;
}
}
