body
{
   background-color: #3E3E3E;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_menuPanel a, #menuPanel_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#menuPanel_markup
{
   display: none;
   margin: 0;
   padding: 75px 0 0 0;
}
#menuPanel_panel #menuPanel_markup
{
   display: block;
}
#menuPanel_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menuPanel_markup li a, #menuPanel_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#menuPanel_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #696969;
}
#menuPanel_panel
{
   display: none;
   position: absolute;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid rgba(105,105,105,0.00);
   border-radius: 0px;
   background-color: rgba(62,62,62,0.00);
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(105,105,105,0.00);
}
#menuPanel .line
{
   width: 16px;
   height: 3px;
   background: #F7F7F7;
   display: block;
   margin: 3px auto;
   transition: all 0.3s ease-in-out;
}
#menuPanel .line:first-child
{
   margin-top: 16px;
}
#menuPanel.open .line:nth-child(1)
{
   transform: translateY(6px) rotate(45deg);
}
#menuPanel.open .line:nth-child(2)
{
   opacity: 0;
}
#menuPanel.open .line:nth-child(3)
{
   transform: translateY(-6px) rotate(-45deg);
}
#menuPanel
{
   line-height: 48px;
   width: 53px;
   height: 48px;
   position: absolute;
   z-index: 999;
}
#menuPanel-close
{
   display: none;
   text-align: right;
}
#menuPanel-close a
{
   color: #F7F7F7;
   display: inline-block;
   font-size: 32px;
   font-weight: bold;
   padding: 5px 10px 5px 10px;
   text-decoration: none;
}
#menuPanel-close a:hover
{
   color: #F7F7F7;
}
@media all and (max-width:0px) 
{
#menuPanel_panel
{
   width: 100%;
}
body
{
   margin-left: 0 !important;
}
#menuPanel-close
{
   display: block;
}
}
#PanelLayer
{
   padding: 0;
}
#PanelLayer_panel
{
   background-color: transparent;
   background-image: url('images/IMG_5535.png');
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 306px;
   z-index: 9999;
}
@media only screen and (max-width:480px) 
{
#PanelLayer
{
   width: 100% !important;
}
#PanelLayer_panel
{
   width: 100% !important;
}
body
{
   margin-left: 0 !important;
}
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont2
{
   height: 30px;
   width: 30px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont2:hover #IconFont2 i
{
   color: #DCDCDC;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 70px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Heading20
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 15px 10px 15px;
   text-align: left;
}
#Heading20
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#wb_OverlayMenu2
{
   position: relative;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 15px 0 15px 0 ;
}
#wb_OverlayMenu2
{
   background-color: rgba(122,122,122,0.00);
}
#wb_OverlayMenu2 ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu2 a
{
   text-decoration: none;
}
.OverlayMenu2 ul
{
   list-style: none;
   padding: 0;
   text-align: left;
}
.OverlayMenu2 li
{
   position: relative;
}
.OverlayMenu2 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu2 li a:hover
{
   color: #FF1493;
   background-color: rgba(204,204,204,0.00);
}
#wb_OverlayMenu2 .overlay-icon
{
   margin: 0 10px 0 0 ;
}
.OverlayMenu2-effect
{
   transition: all 500ms linear;
}
#wb_Text40 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 30px 0 15px 0;
   margin: 0;
   text-align: center;
}
#wb_Text40 div
{
   text-align: center;
}
#wb_Text40
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_OverlayMenu2
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#wb_Text40
{
   position: absolute;
   top: auto !important;
   bottom: 0 !important;
   width: 100% !important;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 1;
}
#PanelLayer
{
   text-align: right;
}
#wb_menuPanel
{
   position: absolute;
   left: 14px;
   top: 1px;
   width: 53px;
   height: 48px;
   text-align: center;
   z-index: 5;
}
#wb_Heading20
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_IconFont2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 0;
}
@media only screen and (min-width: 480px) and (max-width: 969px)
{
body
{
   background-color: #3E3E3E;
   background-image: none;
}
#wb_menuPanel
{
   left: 20px;
   top: 5px;
   width: 41px;
   height: 41px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#menuPanel
{
   line-height: 41px;
   width: 41px;
   height: 41px;
}
#menuPanel .line:first-child
{
   margin-top: 12px;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid #696969;
   border-radius: 0px;
   background-color: rgba(62,62,62,0.00);
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(105,105,105,0.00);
}
#PanelLayer
{
   left: 491px;
   top: 1px;
   width: 306px;
}
#PanelLayer
{
   padding: 0;
}
#wb_IconFont2
{
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 6px 6px 6px 6px;
}
#IconFont2
{
   width: 30px;
   height: 30px;
}
#IconFont2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading20
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 15px 10px 15px;
}
#wb_OverlayMenu2
{
   width: 306px;
   height: 149px;
   visibility: visible;
   display: inline-block;
   margin: 15px 0 15px 0 ;
}
#OverlayMenu2-overlay ul
{
   font-size: 16px;
   text-align: left;
}
#wb_Text40
{
   visibility: visible;
   display: block;
}
#wb_Text40
{
   margin: 0;
   padding: 30px 0 15px 0;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #3E3E3E;
   background-image: none;
}
#wb_menuPanel
{
   left: 5px;
   top: 4px;
   width: 41px;
   height: 41px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#menuPanel
{
   line-height: 41px;
   width: 41px;
   height: 41px;
}
#menuPanel .line:first-child
{
   margin-top: 12px;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid #696969;
   border-radius: 0px;
   background-color: rgba(62,62,62,0.00);
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(105,105,105,0.00);
}
#PanelLayer
{
   left: 329px;
   top: 4px;
   width: 306px;
}
#PanelLayer
{
   padding: 0;
}
#wb_IconFont2
{
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 6px 6px 6px 6px;
}
#IconFont2
{
   width: 30px;
   height: 30px;
}
#IconFont2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading20
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 15px 10px 15px;
}
#wb_Heading20
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading20
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#wb_OverlayMenu2
{
   width: 306px;
   height: 362px;
   visibility: visible;
   display: inline-block;
   margin: 15px 0 15px 0 ;
}
#OverlayMenu2-overlay ul
{
   font-size: 16px;
   text-align: left;
}
#wb_Text40
{
   visibility: visible;
   display: block;
}
#wb_Text40
{
   margin: 0;
   padding: 30px 0 15px 0;
}
}
