body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_shaelynMbaso1 
{
   background-color: #EEEEEE;
   background-image: none;
   border: 1px solid #C0C0C0;
   border-radius: 5px;
   overflow-y: hidden;
   padding: 0;
   margin: 0 0 10px 0 ;
   text-align: center;
   box-shadow: 0px 0px 10px #000000;
}
#wb_shaelynMbaso1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_shaelynMbaso1 div
{
   text-align: center;
}
#wb_shaelynMbaso1
{
   overflow: hidden;
   position: relative;
}
#shaelynMbaso1
{
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   animation: shaelynMbaso1-marquee 10000ms linear infinite;
}
@keyframes shaelynMbaso1-marquee
{
   0%
   {
   transform: translateX(100%);
   }
   100%
   {
   transform: translateX(-100%);
   }
}
#wb_shaelynMbaso1:hover #shaelynMbaso1
{
   animation-play-state: paused;
}
